--
-- PostgreSQL database dump
--

\restrict JNX6VLgVFElGJpFa5R6YHcnKBppN7CN0FDeK2PlkP0u8Zma5cDOAoswiKAKX9RB

-- Dumped from database version 18.3 (Debian 18.3-1.pgdg12+1)
-- Dumped by pg_dump version 18.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: catalog; Type: SCHEMA; Schema: -; Owner: app_user
--

CREATE SCHEMA catalog;


ALTER SCHEMA catalog OWNER TO app_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: product_categories; Type: TABLE; Schema: catalog; Owner: app_user
--

CREATE TABLE catalog.product_categories (
    id integer NOT NULL,
    name character varying(100) NOT NULL
);


ALTER TABLE catalog.product_categories OWNER TO app_user;

--
-- Name: product_categories_id_seq; Type: SEQUENCE; Schema: catalog; Owner: app_user
--

CREATE SEQUENCE catalog.product_categories_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE catalog.product_categories_id_seq OWNER TO app_user;

--
-- Name: product_categories_id_seq; Type: SEQUENCE OWNED BY; Schema: catalog; Owner: app_user
--

ALTER SEQUENCE catalog.product_categories_id_seq OWNED BY catalog.product_categories.id;


--
-- Name: products; Type: TABLE; Schema: catalog; Owner: app_user
--

CREATE TABLE catalog.products (
    id integer NOT NULL,
    sku character varying(50) NOT NULL,
    name character varying(255) NOT NULL,
    price numeric(10,2) NOT NULL,
    category character varying(100) NOT NULL
);


ALTER TABLE catalog.products OWNER TO app_user;

--
-- Name: products_id_seq; Type: SEQUENCE; Schema: catalog; Owner: app_user
--

CREATE SEQUENCE catalog.products_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE catalog.products_id_seq OWNER TO app_user;

--
-- Name: products_id_seq; Type: SEQUENCE OWNED BY; Schema: catalog; Owner: app_user
--

ALTER SEQUENCE catalog.products_id_seq OWNED BY catalog.products.id;


--
-- Name: warehouses; Type: TABLE; Schema: catalog; Owner: app_user
--

CREATE TABLE catalog.warehouses (
    id integer NOT NULL,
    city character varying(100) NOT NULL,
    adress character varying(255) NOT NULL,
    label character varying(50),
    is_central boolean DEFAULT false NOT NULL
);


ALTER TABLE catalog.warehouses OWNER TO app_user;

--
-- Name: warehouses_id_seq; Type: SEQUENCE; Schema: catalog; Owner: app_user
--

CREATE SEQUENCE catalog.warehouses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE catalog.warehouses_id_seq OWNER TO app_user;

--
-- Name: warehouses_id_seq; Type: SEQUENCE OWNED BY; Schema: catalog; Owner: app_user
--

ALTER SEQUENCE catalog.warehouses_id_seq OWNED BY catalog.warehouses.id;


--
-- Name: product_categories id; Type: DEFAULT; Schema: catalog; Owner: app_user
--

ALTER TABLE ONLY catalog.product_categories ALTER COLUMN id SET DEFAULT nextval('catalog.product_categories_id_seq'::regclass);


--
-- Name: products id; Type: DEFAULT; Schema: catalog; Owner: app_user
--

ALTER TABLE ONLY catalog.products ALTER COLUMN id SET DEFAULT nextval('catalog.products_id_seq'::regclass);


--
-- Name: warehouses id; Type: DEFAULT; Schema: catalog; Owner: app_user
--

ALTER TABLE ONLY catalog.warehouses ALTER COLUMN id SET DEFAULT nextval('catalog.warehouses_id_seq'::regclass);


--
-- Data for Name: product_categories; Type: TABLE DATA; Schema: catalog; Owner: app_user
--

COPY catalog.product_categories (id, name) FROM stdin;
1	╨┐╤А╨╕╨║╨╛╨╗
\.


--
-- Data for Name: products; Type: TABLE DATA; Schema: catalog; Owner: app_user
--

COPY catalog.products (id, sku, name, price, category) FROM stdin;
2	1	pipka	2.00	╨┐╤А╨╕╨║╨╛╨╗
\.


--
-- Data for Name: warehouses; Type: TABLE DATA; Schema: catalog; Owner: app_user
--

COPY catalog.warehouses (id, city, adress, label, is_central) FROM stdin;
\.


--
-- Name: product_categories_id_seq; Type: SEQUENCE SET; Schema: catalog; Owner: app_user
--

SELECT pg_catalog.setval('catalog.product_categories_id_seq', 1, true);


--
-- Name: products_id_seq; Type: SEQUENCE SET; Schema: catalog; Owner: app_user
--

SELECT pg_catalog.setval('catalog.products_id_seq', 2, true);


--
-- Name: warehouses_id_seq; Type: SEQUENCE SET; Schema: catalog; Owner: app_user
--

SELECT pg_catalog.setval('catalog.warehouses_id_seq', 1, false);


--
-- Name: product_categories product_categories_name_key; Type: CONSTRAINT; Schema: catalog; Owner: app_user
--

ALTER TABLE ONLY catalog.product_categories
    ADD CONSTRAINT product_categories_name_key UNIQUE (name);


--
-- Name: product_categories product_categories_pkey; Type: CONSTRAINT; Schema: catalog; Owner: app_user
--

ALTER TABLE ONLY catalog.product_categories
    ADD CONSTRAINT product_categories_pkey PRIMARY KEY (id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: catalog; Owner: app_user
--

ALTER TABLE ONLY catalog.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: products products_sku_key; Type: CONSTRAINT; Schema: catalog; Owner: app_user
--

ALTER TABLE ONLY catalog.products
    ADD CONSTRAINT products_sku_key UNIQUE (sku);


--
-- Name: warehouses warehouses_pkey; Type: CONSTRAINT; Schema: catalog; Owner: app_user
--

ALTER TABLE ONLY catalog.warehouses
    ADD CONSTRAINT warehouses_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict JNX6VLgVFElGJpFa5R6YHcnKBppN7CN0FDeK2PlkP0u8Zma5cDOAoswiKAKX9RB

